# ========================
# Secrets
# ========================
.env
.env.*
*.key
*.pem

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# ========================
# Databricks
# ========================
.databricks/
.dbx/

# ========================
# Docker
# ========================
*.log
docker-compose.override.yml

# ========================
# Jupyter / notebooks
# ========================
.ipynb_checkpoints/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# macOS
# ========================
.DS_Store

# ========================
# Project outputs
# ========================
data-exports/
tmp/
temp/

# ========================
# Local configs
# ========================
*.local