bundle:
  name: warcraftlogs-pipeline

targets:
  default:
    mode: production
    default: true
    workspace:
      host: https://dbc-4b3f5758-e807.cloud.databricks.com/
      root_path: /Workspace/warcraftlogs-raid-analysis

    sync:
      include:
        - .databricks/**
        - notebooks/**
        - jobs/**
        - dashboards/**
        - utils/**
        - workflows/**
      exclude:
        - databricks.yml
        - files/**
        - artifacts/**
        - state/**
        - .git/**
        - .github/**
        - __pycache__/**
        - '*.pyc'

resources:
  jobs:
    bronze-ingestion-extraction-job: |
$BRONZE_JOB_DEFINITION
    silver-transformation-validation-job: |
$SILVER_JOB_DEFINITION
