#
bundle:
  name: warcraftlogs-pipeline

sync:
  include:
    - dashboards/**
    - jobs/**
    - notebooks/**
    - utils/**
    - workflows/**
    - databricks.yml
    - .databricks/**

targets:
  default:
    mode: development
    default: true
    workspace:
      host: "$DATABRICKS_HOST_ADDRESS"
      root_path: ~/warcraftlogs-raid-analysis

resources:
  jobs:
    bronze-ingestion-extraction-job:
$JOB_DEFINITION
